@import './../../styles.scss';

app-navigation {
    border-bottom: 2px solid white;
}

.div-footer{
    width: 100%;
    padding-left: 64px;
    padding-right: 64px;
    box-sizing: border-box;
    padding-top: 8px;
}

.div-outlet {
    padding-top: 64px;
    width: 100%;
    overflow: hidden;
    flex: 1;
}
.main-content {
    background-color: $bg-color;
    background-image: url('./../../assets/img/bg-image.png');
    height: 100vh;
    width: 100%;
    @include display();
}

.main-content-colored-bg {
    background-image: linear-gradient(#E80AC4, #57D79A, #65ABEC);
    width: 72px;
    height: 72px;
    border-radius: 50px;
    padding: 16px;
    rotate: 0deg;
    box-sizing: border-box;
}

.main-content-container {
    width: 100%;
    height: 100%;
    background-color: $bg-color-components;
    border-radius: 40px;
    padding: 16px;
    box-sizing: border-box;
    font-size: 32px;
    @include display($jc: flex-start);
    flex-direction: column;
    opacity: 0;
    overflow-y: hidden;
}

.animate-grow {
    animation: grow 1000ms forwards;
}

@keyframes grow {
    0% {
        rotate: 0deg;
    }

    50% {
        rotate: -360deg;
        width: 30%;
        height: 30vh;
    }

    100% {
        width: 100%;
        max-width: 1440px;
        height: 100vh;
        rotate: -360deg;
    }
}

.animate-fadeIn {
    animation: fadeIn 1000ms forwards;
}

@keyframes fadeIn {
    65% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}