<div class="div-content-main">
    <h1>{{ title }}</h1>

    <div>
        <div>
            <span [innerHTML]="languageService.mySkills"></span>
        </div>
        <div class="icon-container">
            <img src="./assets/icons/git.png">
            <img src="./assets/icons/angular.png">
            <img src="./assets/icons/html.png">
            <img src="./assets/icons/css.png">
            <img src="./assets/icons/firebase.png">
            <img src="./assets/icons/api.png">
            <img src="./assets/icons/js.png">
            <img src="./assets/icons/ts.png">
            <img src="./assets/icons/scrum.png">
        </div>
        <div class="wheel-container">
            <div class="wheel wheel-rotate">
                <img src="./assets/icons/git.png">
                <img src="./assets/icons/angular.png">
                <img src="./assets/icons/html.png">
                <img src="./assets/icons/css.png">
                <img src="./assets/icons/firebase.png">
                <img src="./assets/icons/api.png">
                <img src="./assets/icons/js.png">
                <img src="./assets/icons/ts.png">
                <img src="./assets/icons/scrum.png">
            </div>
        </div>
    </div>
</div>