@import './../../styles.scss';

.div-content-main{
    > div {
        display: flex;
        gap: 64px;

        >div {
            @include display($jc: space-between, $ai: flex-start);
            flex-wrap: wrap;
            gap: 32px;
        }
    }
}

.wheel {
    align-self: center;
    margin-top: 128px;
    margin-bottom: 64px;
    width: 300px;
    height: 300px;
    border: 5px solid #fff;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 0deg;
    animation: rotation 60s infinite linear;

    >img:nth-child(1){
        position: absolute;
        top: -65px;
    }

    >img:nth-child(2){
        position: absolute;
        top: -17px;
        left: 247px;
        rotate: 40deg;
    }

    >img:nth-child(3){
        position: absolute;
        rotate: 80deg;
        top: 87px;
        left: 307px;
    }
    >img:nth-child(4){
        position: absolute;
        rotate: 120deg;
        top: 220px;
        left: 282px;
    }
    >img:nth-child(5){
        position: absolute;
        rotate: 160deg;
        top: 297px;
        left: 193px;
    }
    >img:nth-child(6){
        position: absolute;
        rotate: 200deg;
        top: 294px;
        left: 56px;
    }
    >img:nth-child(7){
        position: absolute;
        rotate: 240deg;
        top: 213px;
        left: -42px;
    }
    >img:nth-child(8){
        position: absolute;
        rotate: 280deg;
        top: 84px;
        left: -66px;
    }
    >img:nth-child(9){
        position: absolute;
        rotate: 320deg;
        top: -23px;
        left: 0;
    }
}

@keyframes rotation {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg
    }
}