@import './../../styles.scss';

.div-content-main {
    >div {
        @include display($jc: flex-start);
        flex-direction: column;
        overflow-y:auto;
        overflow-x: hidden;
        flex: 1;
        gap: 128px;
        >div {
            display: flex;
            gap: 64px;

            >div {
                @include display($jc: space-between, $ai: flex-start);
                flex-wrap: wrap;
                gap: 32px;
            }
        }
    }
}

.wheel {
    align-self: center;
    width: 300px;
    height: 300px;
    border: 5px solid #fff;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 0deg;
    animation: rotation 60s infinite linear;
    box-sizing: border-box;

    >img:nth-child(1) {
        position: absolute;
        top: -24%;
    }

    >img:nth-child(2) {
        position: absolute;
        top: -9%;
        left: 81%;
        rotate: 40deg;
    }

    >img:nth-child(3) {
        position: absolute;
        rotate: 80deg;
        top: 27%;
        left: 103%;
    }

    >img:nth-child(4) {
        position: absolute;
        rotate: 120deg;
        top: 70%;
        left: 97%;
    }

    >img:nth-child(5) {
        position: absolute;
        rotate: 160deg;
        top: 99%;
        left: 65%;
    }

    >img:nth-child(6) {
        position: absolute;
        rotate: 200deg;
        top: 100%;
        left: 20%;
    }

    >img:nth-child(7) {
        position: absolute;
        rotate: 240deg;
        top: 73%;
        left: -15%;
    }

    >img:nth-child(8) {
        position: absolute;
        rotate: 280deg;
        top: 30%;
        left: -23%;
    }

    >img:nth-child(9) {
        position: absolute;
        rotate: 320deg;
        top: -9%;
        left: 0;
    }
}

@keyframes rotation {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg
    }
}