@import './../../styles.scss';

.div-content-main{
    > div {
        display: flex;
        gap: 64px;

        >div {
            @include display($jc: space-between, $ai: flex-start);
            flex-wrap: wrap;
            gap: 32px;
        }
    }
}