<div class="main-content">
    <div class="main-content-colored-bg">
        <div class="main-content-container">
            <div>
                <h1>Impressum</h1>
                <span (click)="back()">back</span>
            </div>
            <div>
                <p>Simon Funke<br />
                    Driburger Str. 42<br />
                    33100 Paderborn</p>

                <h2>Kontakt</h2>
                <p>Telefon: &#91;Telefonnummer&#93;<br />
                    E-Mail: sifu&#64;web.de</p>

                <p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
            </div>
        </div>
    </div>
</div>