@import './../../styles.scss';

.main-content {
    background-color: $bg-color;
    background-image: url('./../../assets/img/bg-image.png');
    height: 100vh;
    width: 100%;
    @include display();
    
}

.main-content-colored-bg {
    background-image: linear-gradient(#E80AC4, #57D79A, #65ABEC);
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    border-radius: 50px;
    padding: 16px;
    rotate: 0deg;
    box-sizing: border-box;
}

.main-content-container {
    width: 100%;
    height: 100%;
    background-color: $bg-color-components;
    border-radius: 40px;
    padding: 16px 64px;
    box-sizing: border-box;
    font-size: 32px;
    @include display($jc: flex-start);
    flex-direction: column;
    overflow-y: hidden;
    >div:nth-child(1) {
        @include display($jc: space-between);
        width: 100%;
        >span {
            position: relative;
    
            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: -2px; // Positionieren Sie die Linie unter dem Text
                width: 0%; // Startbreite der Linie (unsichtbar)
                height: 2px;
                background-color: $hover-color;
                transition: 200ms ease; // Übergangseffekt für die Breite
            }
    
            &:hover::after {
                width: 100%;
                left: 0;
    
            }
    
            &:hover {
                cursor: pointer;
                color: $hover-color;
            }
        }
    }
    >div:nth-child(2){
        @include display();
        flex-direction: column;
        padding-top: 128px;
        gap: 32px;
    }
}

@media (max-width: 775px) {
    .main-content-colored-bg{
        border-radius: 0;
        padding: 8px;
    }
    .main-content-container {
        padding: 8px;
        border-radius: 0;
    }
}