@import './../../styles.scss';

.main-content {
    background-color: $bg-color;
    background-image: url('./../../assets/img/bg-image.png');
    height: 100vh;
    width: 100%;
    @include display();
    
}

.main-content-colored-bg {
    background-image: linear-gradient(#E80AC4, #57D79A, #65ABEC);
    width: 600px;
    height: 700px;
    border-radius: 50px;
    padding: 16px;
}

.animate-shrink {
    animation: shrink 1000ms forwards;
}

.main-content-container {
    width: 100%;
    height: 100%;
    background-color: #0F172A;
    border-radius: 40px;
    padding: 16px;
    box-sizing: border-box;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
    rotate: 0deg;

    >div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        >img {
            height: 300px;
        }
    }
}

.animate-fadeout{
    animation: fadeOut 200ms forwards;
}

@keyframes fadeOut{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes shrink {
    10% {
        rotate: 0deg;
    }
    100% {
        width: 40px;
        height: 40px;
        rotate: 360deg;
    }
}

.div-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    >span:nth-child(1){
        font-size: 62px;
    }
}

.div-social{
    background-image: linear-gradient(#124715, #0A205B);
    display: flex;
    gap: 32px;
    padding: 16px;
    border-radius: 50px;
}

.btn-arrow{
    display: flex;
    background-color: #113F24;
    border-radius: 50px;   
    &:hover {
        cursor: pointer;
        background-color: $hover-color;
    }
    >img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(97deg) brightness(101%) contrast(101%);
    }
}

@media (max-width: 620px) {
    .main-content-colored-bg {
        width: 300px;
        height: 400px;
    }
}