@import './../../styles.scss';

.nav-links {
    @include display();
    gap: 32px;
    margin-bottom: 16px;

    >span {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -2px; // Positionieren Sie die Linie unter dem Text
            width: 0%; // Startbreite der Linie (unsichtbar)
            height: 2px;
            background-color: $hover-color;
            transition: 200ms ease; // Übergangseffekt für die Breite
        }

        &:hover::after {
            width: 100%;
            left: 0;

        }

        &:hover {
            cursor: pointer;
            color: $hover-color;
        }
    }
}

.active-link {
    color: $hover-color;
    border-bottom: 2px solid $hover-color;
}