@font-face {
    font-family: 'Iceland';
    src: url('./assets/fonts/Iceland-Regular.ttf') format('truetype');
}

$bg-color: #0f1932;
$bg-color-components: rgba(15, 23, 42, 0.9);
$hover-color: #58D4A0;


* {
    margin: 0;
    font-family: Iceland;
    color: #fff;
}

@mixin display($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

.div-content-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 100%;
    height: 100%;
    padding-left: 64px;
    box-sizing: border-box;

    >h1 {
        rotate: -15deg;
        width: 295px;
    }
}