@font-face {
    font-family: 'Iceland';
    src: url('./assets/fonts/Iceland-Regular.ttf') format('truetype');
}

$bg-color: #0f1932;
$bg-color-components: rgba(15, 23, 42, 0.85);
$hover-color: #58D4A0;


* {
    margin: 0;
    font-family: Iceland;
    color: #fff;
}

@mixin display($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

.div-content-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 100%;
    height: 100%;
    padding: 0 64px;
    box-sizing: border-box;
    gap: 128px;

    >h1 {
        rotate: -15deg;
        width: 295px;

    }
}

.btn-primary {
    @include display();
    background-color: #113F24;
    border-radius: 50px;
    padding: 8px 16px;
    box-sizing: border-box;
    min-width: 160px;
    width: fit-content;

    &:hover {
        cursor: pointer;
        background-color: $hover-color;
    }

    >img {
        width: 60px;
        height: 60px;
    }
}

.btn-secondary {
    @include display();
    border-radius: 50px;
    padding: 8px 16px;
    box-sizing: border-box;
    border: 1px solid $hover-color;
    min-width: 160px;
    width: fit-content;

    &:hover {
        cursor: pointer;
        background-color: $hover-color;
    }
}

.div-input-field {
    @include display();
    width: 600px;
    height: 48px;
    border-radius: 15px;
    border: 1px solid $hover-color;
    padding: 0 16px;
    box-sizing: border-box;

    >input {
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        box-sizing: border-box;
        color: #fff;
        font-size: 24px;

        &:focus {
            outline: none;
        }
    }
    >img {
        width: 24px;
        height: 24px;
    }
}

.div-text-area {
    display: flex;
    width: 600px;
    height: 300px;
    border-radius: 15px;
    border: 1px solid $hover-color;
    padding: 8px 16px;
    box-sizing: border-box;

    >textarea {
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        
        box-sizing: border-box;
        color: #fff;
        font-size: 24px;
        resize: none;

        &:focus {
            outline: none;
        }
    }
    >img {
        width: 24px;
        height: 24px;
    }

}

/* Breite der Scrollbar */
::-webkit-scrollbar {
    width: 5px; /* Du kannst die Breite hier anpassen */
}

/* Track (Hintergrund) der Scrollbar */
::-webkit-scrollbar-track {
    background: transparent; /* Du kannst die Hintergrundfarbe hier anpassen */
}

/* Griff (Daumen) der Scrollbar */
::-webkit-scrollbar-thumb {
    background: #888; /* Du kannst die Farbe des Griffs hier anpassen */
    border-radius: 5px; /* Du kannst die abgerundeten Ecken des Griffs hier anpassen */
}

/* Wenn die Maus über die Scrollbar fährt */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Ändere die Farbe bei Hover hier */
}