@font-face {
    font-family: 'Iceland';
    src: url('./assets/fonts/Iceland-Regular.ttf') format('truetype');
}

$bg-color: #0f1932;
$hover-color: #58D4A0;


* {
    margin: 0;
    font-family: Iceland;
    color: #fff;
}

@mixin display($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}