<div class="content-project">
    <h2>{{ project.name }}</h2>
    <div>
        <img src="{{ project.image }}">
        <div>
            <span>{{ project.discription }}</span>
            <div>
                <img src="./../../../assets/icons/html.png">
                <img src="./../../../assets/icons/css.png">
            </div>
        </div>
    </div>
    <div>
        <div (click)="goToGit(project.name)" class="btn-primary">
            <span>Github</span>
        </div>
        <div (click)="goToTest(project.name)" class="btn-secondary">
            <span>Live Test</span>
        </div>
    </div>

</div>