@import './../../../styles.scss';

.content-project {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
    border: 1px solid $hover-color;
    border-radius: 20px;
    padding: 16px;
    
    >div:nth-child(2) {
        display: flex;
        gap: 16px;

        >img {
            width: 200px;
            height: 100%;
        }
    }

    >div:nth-child(3) {
        @include display();
        gap: 40px;
    }
}

.btn-primary {
    @include display();
    gap: 16px;
    >img {
        filter: none;
    }
}